.progress-bar .bar{
    -fx-background-color: black;
    -fx-background-color: green;
    -fx-background-color: orange;
    -fx-background-color: red;


}

.progress-bar {
    -fx-background-color: grey;
    -fx-background-radius: 10, 10, 10, 10;
 }
